body {
  margin: 0;
  background-color: #f8efe8;
}

h1,
p {
  margin: 0;
}

.janice-hedin-location-para-container {
  background-color: white;
}

.janice {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.janice-hedin-container {
  display: flex;
  flex-direction: column;
}

.location-para-container {
  display: flex;
  flex-direction: column;
}
