body {
  margin: 0;
  background-color: #f8efe8;
}

h1,
p {
  margin: 0;
}

.janice-hedin-location-para-container {
  background-color: white;
}

.janice {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.janice-hedin-container,
.sarah-container,
.amanda-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 213px);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "janice sarah amanda"
    "janice Dance Dance";
  gap: 0 2rem;
  margin-left: auto;
  justify-content: center;
  margin-top: 10rem;
}

.amanda-container {
  grid-area: amanda;
  padding-top: 2rem;
  align-self: flex-start;
}

.sarah-container {
  grid-area: sarah;
  padding-top: 2rem;
  align-self: flex-start;
}
.janice-hedin-location-para-container {
  grid-area: janice;
  display: flex;
  flex-direction: column;
  gap: 3.3rem;
  border-radius: 0.5rem;
  padding: 2rem;
  padding-bottom: 50px;
  justify-content: center;
}

.location-para-container p {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
  margin-top: 10px;
}

.location-para-container {
  margin-top: 3rem;
}
.hedin-para-container {
  grid-area: Dance;
}

h1 {
  margin-top: 1rem;
  font-weight: 400;
}

.hedin-para-container {
  background-color: #e5dad0;
  border-radius: 0.5rem;
  padding: 36px 39px 32px 40px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
