body {
  margin: 0;
  background-color: #f8efe8;
}

h1,
p {
  margin: 0;
}

.janice-hedin-location-para-container {
  background-color: white;
}

.janice {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.janice-hedin-container,
.sarah-container,
.amanda-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "janice sarah amanda"
    "janice Dance Dance";
  gap: 4rem;
  margin: 10rem;
}

.amanda-container {
  grid-area: amanda;
}

.sarah-container {
  grid-area: sarah;
}
.janice-hedin-location-para-container {
  grid-area: janice;
}

.hedin-para-container {
  grid-area: Dance;
}
